  <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="flex justify-center h-[80vh] font-bold items-center">
      <h2 class=" text-8xl text-red-500">404 Page not found</h2>
    </div>
    
  </body>
</html>