 <!-- header -->
 <%- include('../partials/head') %>
  </head>
  <body>
      <!-- nav bar -->
      <%- include('../partials/nav') %>
  
<header class="bg-gradient-to-r from-blue-100 to-purple-100 py-8 mb-6 shadow">
      <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-red-500 text-center">Host Home List</h2>
      </div>
    </header>
    
  </body>
</html>